@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Noto+Naskh+Arabic:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kufam:ital,wght@1,400..900&display=swap');

body {
  direction: rtl;
}

.noto-naskh {
  font-family: "Noto Naskh Arabic", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.kufam-kufam {
  font-family: "Kufam", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: italic;
}

.cairo-cairo {
  font-family: "Cairo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}



audio::-webkit-media-controls-panel {
  background-color: #02404970
}

audio::-webkit-media-controls-mute-button {
  background-color: #B1D4E0;
  border-radius: 50%;
}

.quran-audio::-webkit-media-controls-panel {
  background-color: #00bcd4;
}

.start {
  position: absolute;
  left: -5px;
  top: 0;
  clip-path: polygon(50% 20%, 50% 80%, 100% 50%);
  display: block;
  transition: 0.3s;
}